.react-calendar {
    width: 100%;
    border: none;
    font-family: inherit;
    border-radius: 16px;
}

.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: #1D1D1D;
}

.react-calendar__navigation button {
    background: none;
    border: none;
    cursor: pointer;
}

.react-calendar__month-view__days{
    background-color: #F1F2F6;
    padding-left: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    row-gap: 6px;
    column-gap: 8px;
    border-radius: 12px;
}

.react-calendar__month-view__days__day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 4px;
    background-color: white;
    border-radius: 8px;
    font-weight: 500;
    color: #686667;
    cursor: pointer;
    transition: background-color 0.2s;
}

.react-calendar__month-view__weekdays {
    text-transform: capitalize;
    font-weight: 600;
    color: #1D1D1D;
    margin-bottom: 0.5rem;
    margin-top: -12px;
}

.react-calendar__tile--now {
    
    border-radius: 8px;
}
.react-calendar__tile--hover {
    background: red;
    border-radius: 8px;
}

.react-calendar__tile--active {
    background-color: #2563eb;
    color: white;
    border-radius: 8px;
}

.react-calendar__navigation__label {
    pointer-events: none; /* prevent the label from being clickable */
}